<div class="background_image">
  <%= render 'layouts/navbar' %>
  <div class="container">


    <h1>Gratus</h1>
    <h2 class="home-head">Welcome, <%= current_user.first_name %>!</h2>
    <h3> Here are your gradstats: </h3>
      <ul>
        <li>You have <b><%= @total_gratitudes %></b> total gratitudes recorded!</li>
        <% if !@streak.nil? %>
        <li>Your gratitude streak: <%= @streak %></li>
        <% end %>
      </ul>

    <table>
      <tr class="click-to-add" data-href=':http//localhost:3000/gratitudes'>
        <td><i class="material-icons">add_circle</i></td>
        <td><%= link_to 'Add a Gratitude', gratitudes_path %></td>
      </tr>
      <tr class="find-inspiration">
        <td><i class="material-icons">favorite</i></td>
        <td><%= link_to 'Find Inspiration', events_path %></td>
      </tr>
      <tr class="view-calendar">
          <td><i class="material-icons">date_range</i></td>
          <td><%= link_to 'View Calendar', calendar_path %></td>
      </tr>
    </table>
  </div>
</div>
