<div class="background_image">

  <%= render 'layouts/navbar' %>

  <h1>Gratus</h1>
  <h2 class="home-head">Welcome, <%= current_user.email %>!</h2>

  <div>
    <i class="material-icons">add_circle</i> <%= link_to 'Add a Gratitude', gratitudes_path %>
  </div>

  <div>
    <i class="material-icons">favorite</i><%= link_to 'Find Inspiration', events_path %>
  </div>

  <div>
    <i class="material-icons">date_range</i><%= link_to 'View Calendar', calendar_path %>
  </div>

</div>
