<div class="background_image">
  <%= render 'layouts/navbar' %>
  <div class="container">

    <h3 class="home-head">Welcome, <%= current_user.first_name %>!</h3>

    <table>
      <tr class="click-to-add" data-href='http://www.gratus.io/gratitudes'>
        <td><i class="material-icons">add_circle</i></td>
        <td><%= link_to 'Add a Gratitude', gratitudes_path %></td>
      </tr>
      <tr class="find-inspiration" data-href='http://www.gratus.io/events'>
        <td><i class="material-icons">favorite</i></td>
        <td><%= link_to 'Find Inspiration', events_path %></td>
      </tr>
      <tr class="view-calendar" data-href='http://www.gratus.io/calendar'>
          <td><i class="material-icons">date_range</i></td>
          <td><%= link_to 'View Calendar', calendar_path %></td>
      </tr>
    </table>

    <h3>Track how often you're posting your gratitudes</h3>
    <table>
      <tr>
        <th>Total Gratitudes Recorded</th>
        <th>Best Streak</th>
        <th>Current streak</th>
      </tr>
      <tr>
        <td><%= @total_gratitudes %></td>
        <td><%= @best_streak %> days</td>
        <td><%= @streak %></td>
      </tr>
    </table>
  </div>
</div>
