<div class="home-background-image">
  <%= render 'layouts/navbar' %>
  <div class="container">
    <div class="home-styling">

      <h3 class="home-head">Welcome, <%= current_user.first_name %>!</h3>

      <table class="home-nav">
        <tr class="click-to-add" data-href='#gratitudes'>
          <td><i class="material-icons">add_circle</i></td>
          <td style="padding:10px;"><%= link_to 'Add a Gratitude', gratitudes_path %></td>
        </tr>
        <tr class="find-inspiration" data-href='#events'>
          <td><i class="material-icons">favorite</i></td>
          <td style="padding:10px;"><%= link_to 'Find Inspiration', events_path %></td>
        </tr>
        <tr class="view-calendar" data-href='#calendar'>
            <td><i class="material-icons">date_range</i></td>
            <td style="padding:10px;"><%= link_to 'View Calendar', calendar_path %></td>
        </tr>
      </table>
    </div>
    <br>
    <div class="row col-md-6">
      <table class="table">
        <div>
          <h4>Track how often you're posting your gratitudes:</h4>
        </div>
        <tr>
          <th>Total Gratitudes Recorded</th>
          <th>Longest Streak</th>
          <th>Current streak</th>
        </tr>
        <tr>
          <td><%= @total_gratitudes %></td>
          <td><%= @best_streak %> <%= @best_streak_day %></td>
          <td><%= @streak %> <%= @current_streak_day %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
