<%= render 'layouts/navbar' %>
<div class="container">

  <h3>All Gratitudes</h3>

<ul>
  <% @gratitudes.each do |date, grads| %>
    <h3> <%= date.strftime('%A') %>, <%= date.strftime('%B') %> <%= date.strftime('%d')%> </h3>
    <% grads.each do |grad| %>
      <%= grad.description %><br>
      <% if !grad.img_url.nil? %>
        <%= image_tag(grad.img_url) %>
      <% end %>
      <br>
    <% end %>
  <% end %>
</div>
