<div class='background-grad'>
  <%= render 'layouts/navbar' %>
  <div class="container">

    <h2> <%= @display_date.strftime('%A') %>, <%= @display_date.strftime('%B') %> <%= @display_date.strftime('%d')%> </h2>
    <h3> View gratitudes you've added for this day, or add anotther</h3>

    <%= react_component 'Gratitudes', {data: @gratitudes } %>
  </div>
</div>
